li a{
    background-color: lightpink;
    padding: 1em 1.5em;
    display: block;
    margin: 5px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: lightyellow;

}

.intro
{
    background-color:lightpink;
    border: 5px dotted hotpink;
    margin: 25px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 lightpink;
    width: 275px;
    float: left;
    display: block;


}

.projects
{
    background-color:lightpink;
    border: 5px dotted hotpink;
    margin: 25px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 lightpink;
    width: 275px;
     float: left;
 display: block;

}

.skills{
 background-color:lightpink;
    border: 5px dotted hotpink;
    margin: 25px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 lightpink;
    width: 275px;
     float: left;
 display: block;
}
    

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
nav
{
    background-color:lightyellow;
    height: 100vh;
    float: left;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

